<h1>Order Failed</h1>

<p>We could not find your incomplete order in our database.</p>
<p>This can happen if you have cookies disabled or if your session has expired.</p>

<p><%= link_to 'Go Back to the Store', :action => 'index' %></p>
