<%= error_messages_for 'product' %>

<!--[form:product]-->
<p><label for="product_name">Name</label><br/>
<%= text_field 'product', 'name'  %></p>

<p><label for="product_price">Price</label><br/>
<%= text_field 'product', 'price'  %></p>

<p><label for="product_active">Active</label><br/>
<%= text_field 'product', 'active'  %></p>
<!--[eoform:product]-->

