h1
{
  margin-top: 40px;
}

#topmenu
{
  margin: 0; padding: 0;
  padding-left: 0;
  }

#topmenu li
{
  height: 40px;
  font-family: arial, "Trebuchet MS", "Lucida Grande", sans-serif;
  font-size: 13px;
  padding-left: 14px;
  padding-right: 14px;
  list-style: none;
  display: table-cell !Important;
  vertical-align: bottom;
  border-right: 1px dotted #ddd;
  border-left: 1px dotted #f5f5f5;
  display: inline;
}

#topmenu li:first-child
{
  border-left: 1px dotted #ddd;
  }


#submenu
{
  margin: 0; padding: 0;
  padding-left: 0;
  }

#submenu li
{
  height: 18px;
  font-family: arial, "Trebuchet MS", "Lucida Grande", sans-serif;
  font-size: 13px;
  padding-left: 14px;
  padding-right: 14px;
  list-style: none;
  display: table-cell !Important;
  vertical-align: bottom;
  border-right: 1px dotted #ddd;
  border-left: 1px dotted #f5f5f5;
  display: inline;
}

#submenu li:first-child
{
  border-left: 1px dotted #ddd;
  }

hr { height: 20px; border: 0; }

/* First column in a table */
table.form tr td:first-child { text-align: right; }

tr { vertical-align: top; }

#search form
{
  margin: 1px 0 0 0;
}

.pagination
{
  margin: 20px 0;
}

/* Used for the order and product list */
table.list { border-collapse: collapse; }
table.list th { border:1px dotted #bbb; background-color: #eee; padding:5px; }
table.list td { border:1px dotted #999; padding:5px; }
table.list tr.F, tr.F A { color:#999; }
table.list tr.X { background-color:#999; }
table.list tr.X td { border:1px dotted #bbb; }
table.list .address { width:150px; }
table.list tr.newday { border-top:3px double #ccc; }
