pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

div.uploadStatus {
    margin: 5px;
}

div.progressBar {
    margin: 5px;
}

div.progressBar div.border {
    background-color: #fff;
    border: 1px solid grey;
    width: 100%;
}

div.progressBar div.background {
    background-color: #333;
    height: 18px;
    width: 0%;
}


/* Begin my additions */

#content { margin: 0 auto; }

h1
{
    margin: 30px 0 40px;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #333;
}


h1 span
{
    font-family: helvetica, sans-serif;
    font-weight: normal;
    font-size: 28px;
    color: #555;
}

h2
{
    margin: 20px 0 30px;
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
}

h3
{
    margin-top: 40px;
}

input.qty, #order_zipcode { vertical-align: middle; }
input.qty
{
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    color: #444;
}

#products
{
    margin: 40px auto 0;
}
#products td:first-child
{
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: #333;
}

#products td { padding-right:10px; }
#products td span { color:#aaa; font-size:10px; }
#products td strong { font-size:13px; }

#products tr#coupon_row td
{
    font-size:12px;
    font-weight:normal;
    padding-top:5px;
    padding-bottom:0;
}

#products tr#coupon_row input { width:173px; }

#products #payment_method td { font-size:12px; font-weight:normal; }
#products #payment_method td:first-child { vertical-align:top; }
#products #payment_method td p:first-child { margin-top: 0; }
#products #payment_method br { margin-top:5px; }
#products input#submit { margin:10px 0; }
#products #payment_method img { margin-right:3px; }

#products img { vertical-align:middle; margin-right:5px; }

#discounts
{
    border: 1px dotted #ccc;
    padding: 7px;
    color: #444;
    background-color: #ffd;
}

#site_license
{
    margin: 5px auto;
    padding: 7px;
    color: #444;
}

.fl { float:left }
.cl { clear:left }
div.s { height:1px; margin:10px 0 0 137px; }
div.d { height:1px; margin:20px 0 10px; border-top:1px dotted #999; }


/* -------------------------------------------------------------------------------- */
/* Stuff for the Payment screen                                                     */

#page.narrow .ccolumn.narrow.solo div.narrow
{
  width: 440px; margin: 0 auto;
}

table#order
{
    width: 440px;
    border-collapse: collapse;
    margin: 0 auto;
}

table#order td { margin:0; padding:0 0 7px; }
table#order .price { width:130px; text-align:right; padding-right:8px; }
table#order .prod { font-weight:bold; font-size:12px; }
table#order #total td { padding-top: 10px; font-size:14px; }

span, label, .label
{
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    color: #333;
}

p span
{
    position: relative;
    top: 3px;
    float: left;
    width:130px;
    margin-right: 7px;
    text-align: right;
}

#fname, #lname
{
    float: left;
    font-size: 10px;
    color: #aaa;
}

#cards img { vertical-align: middle; margin-right: 7px; }

input#order_company,
input#order_address1,
input#order_address2,
input#order_licensee_name,
input#order_email,
input#order_comment
{
    width:238px;
}

input { margin-left: 0; }

#lname, #countries { margin-left: 10px; }
#order_city { margin-right: 11px; }
#order_state { margin-left: 7px; }
#countries { margin-left: 0; }
#company { margin-top: 0; padding-top:10px; }

input#submit { margin: 10px 0 0 192px; }

#final_step { color: #999; font-family:helvetica, sans-serif; font-size: 11px; margin-left: 15px; }
span.optional { position:relative; top:-2px; float:none; color:#888; font-size:10px; }

#errors
{
	padding-bottom: 20px;
}

#error
{
    color:#d00;
}

div.fieldWithErrors
{
    padding-right: 13px;
    background-image: url(/images/store/missing_field.png);
    background-position: right;
    background-repeat: no-repeat;
    display:inline;
}

/* -------------------------------------------------------------------------------- */
/* Thank you page */

#license_keys td.first
{
    text-align: right;
}

.box
{
	padding: 0 15px 10px;
	border: 1px dotted #ccc;
	background-color: #ffd;
}

#license_keys td
{
    padding: 10px 10px 0 0;
}

#license_keys code
{
    color: black;
}

#print { width:100%; text-align: right; margin: 20px 0; }
#print img { vertical-align: top; }
