<h1>Edit Order <%= @order.id %></h1>

<%= error_messages_for :order %>

<% form_for(:order, :url => order_path(@order), :html => {:method => :put}) do |f| %>
  <%= render :partial => "form", :object => f -%>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>
