<h1>Add Order</h1>

<%= error_messages_for :order %>

<% form_for(:order, :url => orders_path) do |f| %>
<%= render :partial => "form", :object => f -%>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>