<h1>License Sent</h1>

<p>
Your license information has been sent. If you do not receive it within an hour, please
check your spam folder or contact us at
<a href="mailto:<%=$STORE_PREFS['support_email']%>?subject=Lost%20License"><%=$STORE_PREFS['support_email']%></a>.
</p>

<div style="margin-top:150px"></div>
