<% for column in Product.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @product.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', edit_product_path %> |
<%= link_to 'Back', products_path %>
