body
{
	margin: 0; padding: 0;
	font-family: helvetica, sans-serif;
    font-size: 12px;
    color: #333;
}

a
{
	text-decoration: none;
}

a img
{
	border: none;
}

ul
{
    padding: 0 0 0 20px;
    list-style-type: circle;
}

li
{
    line-height: 1.5em;
    margin-bottom: 2px;
}

#copyright
{
	font-size: 11px;
	color: #888;
	padding: 10px 0 0;	margin: 0;
	height: 57px;
	clear: both;
}

#footer p 
{
	margin: 0;
    padding: 8px 0 0;
    text-align: center;
}

#footer #copyright a
{
	color: #888;
}

#copyright strong
{
	border: 1px dotted #555;
	padding: 3px;
}

hr
{
	height: 1px;
	display: block;
    border: 0;
    clear: both;
    color: #ccc;
    background-color: #ccc;
    margin: 18px 0;
}

.clear
{
	display: block !important;
	display: none;
    height: 1px; margin: 0; padding: 0; border: 0;
    clear: both;
    background-color: transparent;
}

.float_right
{
	float: right;
}

.align_center
{
	text-align: center;
}

.xsmall { font-size: 11px; }
.small { font-size: 12px; }
.medium {  font-size: medium; }
.large {  font-size: 16px; }
.xlarge {  font-size: 20px; }

.lfloat { float: left; }
.rfloat { float: right; }

/* -------------------------------------------------------------------------------- */
/* Common theme elements */

#page
{
    margin: 0; padding: 0;
    padding-top: 1px;
}

#page a { color: #2b627f; }
#page a:hover { color: #2b627f; text-decoration: underline; }


#page_top
{
    width: 902px;
    margin: 0 auto;
    padding: 0;
}

#page_top h1
{
    color: #ccc;
    margin: 0;
    padding: 40px 0 10px 0;
    height: 50px;
    font-size: 45px;
    font-weight: normal;
    border: 0;
}

#page_top h1 small
{
    font-size: 22px;
    font-weight: normal;
    color: #999;
    position: relative;
    left: 10px;
    top: -6px;
}

#page_top h1 a
{
    color: black;
}

#page_top #logo
{
    float: right;
    position: relative; /* without this the z-index does not work */
    z-index: 1;
}

#page_top .tm
{
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 878px;
	height: 22px;
    float: left;
}

#page_top .tr
{
    width: 23px;
	height: 23px;
    float: left;
}

#page_content
{
    clear:both;
    margin: 0 auto 0;
    width: 810px;
    padding: 10px 45px 40px !important;
    padding: 10px 42px 40px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
    line-height: 1.3em;
}

#page.narrow #page_top
{
    width: 732px;
}

#page.narrow #page_top .tm
{
    width: 708px;
}

#page.narrow #page_content
{
    width: 640px;
}

#page.narrow #footer
{
    margin: 0 auto;
    width: 730px;
    color: #666;
}

#page_content_container
{
    margin: 0 auto;
    width: 500px;
}

/* -------------------------------------------------------------------------------- */
/* Left column */

#page_content #content_title
{
	margin: 0 0 10px; padding: 0;
	text-align: left;
}

#page_content .ccolumn.narrow
{
    float: left;
    width: 550px !important;
    width: 557px;
    margin-right: 26px;
}

#page_content .ccolumn.narrow.solo
{
    float: none;
    margin: 0 auto;
}

#page_content .ccolumn h2
{
    font-size: 14px;
    margin-top: 25px;
}

#page_content .ccolumn p
{
    line-height: 1.4em;
}

#page_content .ccolumn.wide
{
	width: 100%;
}

#page_content .lcolumn
{
    float: left;
    width: 130px;
    padding-right: 20px;
    border-right: 1px dotted #ccc;
}

#page_content .rcolumn
{
    float: left;
    width: 212px;
    padding-left: 20px;
    border-left: 1px dotted #ccc;
}

#page_content .rcolumn h3 { margin: 0; padding: 0; color: #808080; font-size: 14px; }

#page_bottom
{
	margin-top: -20px;
	position: relative;
    height: 20px;
}

#page a.button
{
    font-weight: bold;
    background-color: #aaa;
    color: #fff;
    padding: 4px 8px 3px;
}

ul.links
{
    margin: 0;
    padding: 0;
}
