<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title><%=$STORE_PREFS['store_name']%></title>
    <link rel="icon" href="/favicon.png" type="image/png"/>
	<style media="all" type="text/css">
		@import "/stylesheets/store.css";
		@import "/stylesheets/mytheme.css";
	</style>
	<script src="/javascripts/store.js" type="text/javascript"></script>
<!--[if lt IE 7]>
<script language="JavaScript">window.attachEvent("onload", correctPNG);</script>
<![endif]-->
</head>
<body>
	<div id="page" class="narrow">
		<div id="page_top">
			<% if $STORE_PREFS['company_logo_path'] != "" -%>
			<div id="logo"><a href="<%=$STORE_PREFS['company_url']%>">
				<img src="<%=$STORE_PREFS['company_logo_path']%>" alt="<%=$STORE_PREFS['company_name']%>"/></a>
			</div>
			<% end -%>

			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>

			<center>
				<%= @content_for_layout %>				
			</center>
		</div>
	</div>
	<% if is_live?() && $STORE_PREFS['google_analytics_account'] != "" -%>
	<script src="https://ssl.google-analytics.com/urchin.js" type="text/javascript"></script>
	<script type="text/javascript">
		_uacct = "<%=$STORE_PREFS['google_analytics_account']%>";
		urchinTracker();
	</script>
	<% end -%>
</body>
</html>
